:root {
  --red: #F55A5A;
  --image-width: 10em;
  --image-height: ;
}

* {
  box-sizing: border-box;
  margin: 0;
}


/* BASE STYLES */

body { 
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: var(--red);
  color: white;
  padding: 2em 0;
  width: 100vw;
  text-align: center;
}


/* CARDS */

.cards {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.card:nth-last-child(n+2) {
  border-bottom: 1px solid #F5F5F5;
}

.card--image {
  width: var(--image-width);
  height: var(--image-height);
  object-fit: cover;
  border-radius: 5px;
  margin-right: 2rem;
  box-shadow: 2px 5px 15px -5px black;
}

.card--info__location-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: .8rem;
}

.fa-location-dot {
  color: var(--red);
}

.card--info__location-info > p {
  margin-right: .5rem;
}

.location-text {
  letter-spacing: .15rem;
}

.location-link {
  color: #918E9B;
}

.card--info__title {
  font-size: 1.5rem;
}

.card--info__dates {
  font-size: .9rem;
  font-weight: 600;
}

.card--info__location-info, .card--info__title, .card--info__dates {
  margin-bottom: .5em;
}

.learn-more-link {
  color: #918E9B;
  font-size: .8rem;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .cards {
    padding: 0 2em;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card--image {
    width: 100%;
    margin-bottom: 1.5em;
    margin-right: 0;
    object-fit: cover;
  }
}
